package pages

import "templ-school/web/templates/layouts"
import "templ-school/web/entity"


templ Admin(menu []entity.MenuCategory) {
    @layouts.Dashboard("dashboard", menu) {
    <div>
        <div>
            
        </div>
    </div>
    }

}